

<style>

{
	box-sizing: border-box;
}


{
	outline: none;
}

body{

	padding-left:150px;
	margin-left:20px;
	background: #000;
	color: white;
	/*font-family: "Roboto", sans-serif;*/
}


a {
	text-decoration: none;

}

img {
	width: 100%;
}

.home img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	-webkit-filter:grayscale(100%) contrast(100%);
	filter: grayscale(100%) contrast(150%) brightness(60%);

}

.projects img {
	filter:grayscale(100%);
	width: 100px;
	height:auto;
}

aside {
	position: fixed;
	background: #222;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 100%;
	overflow: none;
	z-index: 1;
	text-align: center;
	padding: 0;

}

aside img {
	filter: grayscale(100%) contrast(50%) brightness(100%) ;
	margin-bottom: -3px;


}

.material-icons.md-36 {
	font-size: 36px;
	color:white;

}

aside a {
	display: block;
	padding: 15px;
	color:white;
	transition: all 0.35s;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 2px;
}

aside p {

	margin:0;
	padding:0;
}

aside a:hover {
	background: #000;
}

aside nav a:nth-child(2) {
	background: #000;
}

aside nav a:nth-child(2):hover {
	background: #b2b2b2;
	color: #222;
}

main {
	max-width: 980px;
	background: #000;
	margin-left: 20%
	padding: 12px 50px 12px 50px;
}

header {
	text-align: center;
	letter-spacing: 2px;
}

header h1 {
	font-weight: bold;
	font-size: 4em;
	letter-spacing: 4px;
}

header h5{
	font-weight: 300;
	font-size: 1em;
	letter-spacing: 2px;
	color: #b2b2b2;
}

.client,
.usermanual,
.projects,
.contact{
	line-height: 1.5em;
	letter-spacing: 1px;
	font-weight: 300;
}

.client h2,
.usermanual h2,
.projects h2,
.contact h2 {
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin: 100px 0 0 0;
	letter-spacing: 4px;
}

.client p,
.usermanual p, {
	color: #b2b2b2;
}

.client span,
.usermanual span {
	font-weight: 600;
	color: white;
}

.client h3 {
	font-weight: 200;
	margin: 50px 0;
}

.container {
	width: 100%
	background-color: #b2b2b2;
}

.projects h3{
	color: white;
	font-weight: 300;
	letter-spacing: 2px;
}

.projects p{
	font-size: 0.875em;
}

.row-halves{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-webkit-flex-pack:justify;
}

.row-halves .col {
	width: 50%;
}

.col {
	border: 1px solid #222;
	background: #222;
	color: #b2b2b2;
	padding: 10px;
}

label {
	color: #b2b2b2;
}

form input [type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #222;
	background: transparent;
	margin-top: 6px;
	margin-bottom: vertical;
	color: #b2b2b2;

}

form input[type="text"]:focus,
textarea:focus{
	outline: none;
	border: 1px solid #009688;
}

.contact .container {
	margin-top: 20px;
	margin-bottom: 100px;
	background: transparent;
	padding: 20px 0;
}

.footer {
	border-top: 1px solid#222
}

.top-bar {
	padding: 50px;
	text-align:center;
}

.top-bar a {
	margin: 10px;
	font-size: 2em;
	color: #b2b2b2;
	transition: all 0.40s;
	display: inline-block;
}

.top-bar a:hover{
	transform: scale(1.1);
	color: #009688;
}

.bottom-bar {
	background: #000;
	font-size: 0.75em;
	text-align: center;
}

@media (max-width: 768px) {
	.row-halves{
		display:block;
	}

	.row-halves .col{
		width:100%;
			margin-top: 0 0 10px 0;
	}
}

@media (max-width: 601px) {
	aside {
		display:none;
	}

	main{
		width:100%;
			margin: 0 auto;
		padding: 12px 25px;
	}
}

header {
	margin-top: 80px;
}

header h1 {
	font-size:3em;
	line-height: 1.4em;	
}

header h5 {
	font-size:1em;
	letter-spacing: 2px;
}

.mobile-nav {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background: rgba(0,0,0,0.8);
}

.mobile-nav a {
	width: 100%
	color: #b2b2b2;
	text-transform: uppercase;
	font-size: 0.865em;
	letter-spacing: 2px;
	text-align: center;
	padding: 10px 10px;
	transition: all 0.40s;
}

.mobile-nav a: hover{
	background: #b2b2b2;
	color: #222;

}
@media (min-width: 600px) {
	.mobile-nav{
		display: none
	}
}

.table {
    width: 80%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table-dark {
    color: #e5e2e2;
    background-color: #222222;
}


/*card*/


section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #222222;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/*card end*/
